<!DOCTYPE html>
<app-header></app-header>
<html>
<body>
    <div class="container">
        <div class="SchoolPlanDiv">
            <map name="image-map">
                <area alt="B16" title="B16" href="?room=B16" coords="146,310,128,292" shape="rect">
            </map>
            <img class="schoolmap" src="assets/skoleplan-nobng.png" usemap="#image-map">

        </div>
        <div class="tableContainer">
            <div class="TableDiv">
                <table>
                    <tbody>
                        <tr>
                            <td>room name :</td>
                            <td><span>{{roomData.Rr_RoomName}}</span></td>
                        </tr>
                        <tr>
                            <td>creation time :</td>
                            <td><span>{{roomData.Rr_Cts}}</span></td>
                        </tr>
                        <tr>
                            <td>head height temperature :</td>
                            <td><span>{{roomData.Tr_Head.Tr_Value}}°C</span></td>
                        </tr>
                        <tr>
                            <td>Humidity :</td>
                            <td><span>{{roomData.Hr.Hr_Value}}%</span></td>
                        </tr>
                        <tr>
                            <td>Feet height temperature :</td>
                            <td><span>{{roomData.Tr_Feet.Tr_Value}}°C</span></td>
                        </tr>
                        <tr>
                            <td>Light :</td>
                            <td><span>{{roomData.Lr.Lr_Value}}</span></td>
                        </tr>
                        <tr>
                            <td>Sound :</td>
                            <td><span>{{roomData.Sr.Sr_Value}}</span></td>
                        </tr>
                        <tr>
                            <td>Curtains :</td>
                            <td><span>{{roomData.Cr.Cr_Value}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>