   .SchoolPlanDiv{
    display: flex;
    justify-content: center;
  }


  .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .tableContainer{
    justify-content: center;
    display: flex;
    height: max-content;
  }

  .tablediv tr{
    color: white;
    font-weight: bold;
  }

  .tablediv tr:nth-child(2n){
  background-color:rgb(112, 111, 111);
  }

  
